.info__item {
	padding-left: 26px;
	width: 100%;
	position: relative;

	@media (max-width: 600px) {
		padding-left: 10px;
	}

	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		right: 0;
		width: calc(100% - 26px);
		height: 1px;
		background: var(--color-grey-a3);
		mix-blend-mode: normal;
	}

	&_header {
		padding-top: 7.5px;
		font-size: var(--font-size-a4);
		font-weight: 700;
		letter-spacing: 0.15px;
		line-height: 24px;
		color: var(--color-blue-a1);
	}

	&_text {
		padding-bottom: 12px;
		font-size: var(--font-size-a5);
		line-height: 20px;
		letter-spacing: 0.25px;
		color: var(--color-grey-a2);
	}
}
