.container {
	margin: 0 auto;
	padding-top: 86px;
	padding-bottom: 140px;
	width: var(--width-container-a1);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;

	@media (max-width: 1399.99px) {
		width: max(99%, 320px);
	}

	@media (max-width: 600px) {
		padding-bottom: 191px;
	}
}

.logo {
	margin-bottom: 16px;
	margin-left: 20px;
	width: var(--width-container-a3);
	height: 200px;
	background-image: url("../../../public/r&k_desktop.png");

	@media (max-width: 600px) {
		margin-bottom: 36px;
		margin-left: 0;
		width: 312px;
		height: 104px;
		background-image: url("../../../public/r&k_mobile.png");
		background-repeat: no-repeat;
	}
}

.cards_container {
	width: var(--width-container-a2);
	margin: 0 auto;

	@media (max-width: 1399.99px) {
		width: max(90%, 320px);
	}
}

.cards {
	margin-bottom: 24px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 5px;

	@media (max-width: 600px) {
		justify-content: center;
	}
}

.pagination {
	width: 100%;
}
