.container {
	padding: 16px;
	position: absolute;
	width: calc(100vw - 17px);
	height: 100vh;
	top: 0;
	left: 0;
	background-color: var(--color-grey-a7);
	overflow: hidden;

	@media (max-width: 1439.99px) {
		width: max(100%, 320px);
	}
}

.modal {
	position: absolute;
	top: calc(50% - 50px);
	left: 50%;
}

.modal_auth {
	position: fixed;
	left: 0;
	top: 0;
	width: max(100%, 320px);
	height: 100%;
	overflow: hidden;
	background: var(--color-grey-a3);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 15px;

	div {
		max-width: 450px;
		min-height: 420px;
		width: 100%;
		box-sizing: border-box;
		background-color: var(--color-white-a1);
		border: 2px solid var(--color-grey-a1);
		border-radius: 10px;
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-direction: column;
		text-align: center;
		gap: 20px;

		@media (max-width: 600px) {
			max-width: 300px;
		}

		h2 {
			font-family: "Karla", sans-serif;
			font-size: (--font-size-a2);
			color: var(--color-orange-a1);
		}

		button {
			padding: 5px;
			border: 2px solid var(--color-black-a2);
			border-radius: 3px;
			transition: all 0.2s ease-out;
			font-family: "Karla", sans-serif;
			font-size: (--font-size-a2);
			color: var(--color-black-a1);

			&:hover {
				cursor: pointer;
				border: 2px solid var(--color-blue-a2);
				background-color: var(--color-blue-a2);
			}
		}
	}
}
